{% macro datepicker(field, disable_older_dates=True, disable_further_dates=False) %}
    {% set id = uuid() %}
    <div class="input-group">
        <input type="text" class="form-control singledate" placeholder="{{ field.placeholder }}" id="{{ id }}"
               name="{{ field.name }}" value="{{ field.data }}">
        <label for="{{ id }}"></label>
        <div class="input-group-append">
            <span class="input-group-text">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $("#{{ id }}").bootstrapMaterialDatePicker({
            {% if disable_older_dates %}
                minDate: new Date(),
            {% endif %}
            {% if disable_further_dates %}
                maxDate: new Date(),
            {% endif %}
            lang: 'tr',
            todayHighlight: true,
            weekStart: 1,
            autoclose: true,
            time: false,
            format: 'DD.MM.YYYY',
            cancelText: "Kapat",
            okText: "Seç",
            clearText: "Temizle",
            nowText: "Şimdi"
        });
    });
    </script>
{% endmacro %}