Flask==1.0.2
SQLAlchemy==1.2.4
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.1.1
Flask-APScheduler==1.10.1
filedepot==0.5.2
pylint==1.9.2
boto3==1.7.35
Flask-WTF==0.14.2
Flask-JWT-Extended==3.10.0
flask-allows==0.6.0
Flask-Login==0.4.1
WTForms==2.2.1
redis==2.10.6
Flask-Redis==0.3.0
Flask-Babel==0.11.2
Flask-Testing==0.7.1
nose==1.3.7
Flask-Classful==0.14.1
Flask-Script==2.0.6
psycopg2-binary==2.7.4
secretary==0.2.19
Flask-DebugToolbar==0.10.1
Faker==0.8.17
Flask-Menu==0.7.0
Flask-Mail==0.9.1
Flask-Restless==0.17.0
Pillow==9.0.0
cryptography==2.3
SQLAlchemy-Utils==0.33.3
pdfkit==0.6.1
itsdangerous==0.24
num2words==0.5.7
simplejson==3.16.0
zeep==3.1.0
