{% extends "base.html" %}

{% block context %}

    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block"> {{ _("Yapım Aşamasında") }}</h3>
        </div>
    </div>

    <div class="content-body">
        <section id="page-tabs" class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h4 class="text-center">Henüz veri girilmedi.</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end #content -->
{% endblock %}