{% extends "base.html" %}

{% block context %}

    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block"> {{ _("Rol Listesi") }}</h3>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <div class="btn-group float-md-right">
                <button id="rol-ekle-button" class="btn btn-success">
                    {{ _("Rol Ekle") }}
                </button>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section id="rol-listeleme-content" class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="data-table_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <table id="data-table"
                                       class="table table-striped table-bordered dataex-html5-selectors dataTable"
                                       role="grid"
                                       aria-describedby="data-table_info" style="width: 100%">
                                    <thead>

                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="data-table"
                                            rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                        >{{ _("Rol") }}
                                        </th>
                                        <th class="sorting_asc all" tabindex="0" aria-controls="data-table"
                                            rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                        >{{ _("İşlemler") }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in results %}
                                        <tr class="gradeA odd" role="row" id="{{ r.id }}">
                                            <td class="sorting_1" tabindex="0">{{ r.name }}</td>
                                            <td class="sorting_1" tabindex="0">
                                                <button type="submit"
                                                        onclick="editRole(this.parentElement.parentElement.id)"
                                                        class="btn btn-success start m-r-3">
                                                    <i class="fa fa-edit"></i>
                                                    <span>{{ _("Düzenle") }}</span>
                                                </button>
                                                <button type="submit"
                                                        onclick="deleteRole(this.parentElement.parentElement.id)"
                                                        class="btn btn-danger start m-r-3">
                                                    <i class="fa fa-trash"></i>
                                                    <span >{{ _("Kaldır") }}</span>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <script>
                                    $('#rol-ekle-button').click(function () {
                                        var url = "{{ url_for('.yeni_rol_get') }}";
                                        window.location.replace(url);
                                    });

                                    function editRole(roleId) {
                                        var url = "{{ url_for('.rol_duzenle_get', role_id=-1) }}";
                                        url = url.replace("-1", roleId);
                                        window.location.replace(url);
                                    }

                                    function deleteRole(roleId) {
                                        var url = "{{ url_for('.rol_sil', role_id=-1) }}";
                                        url = url.replace("-1", roleId);
                                        var roleName = $('#' + roleId)[0].children[0].innerText;
                                        swal({
                                            title: roleName + " " + "{{ _("adlı rolü silmek istediğinize emin misiniz?") }}",
                                            text: "{{ _("Bu işlem geri alınamaz!") }}",
                                            icon: "error",
                                            buttons: {
                                                cancel: {
                                                    text: "{{ _("Vazgeç") }}",
                                                    value: false,
                                                    visible: !0,
                                                    className: "btn btn-default",
                                                    closeModal: !0
                                                },
                                                confirm: {
                                                    text: "{{ _("Sil") }}",
                                                    value: true,
                                                    visible: !0,
                                                    className: "btn btn-danger",
                                                    closeModal: false
                                                }
                                            }
                                        }).then(function (willDelete) {
                                            if (willDelete) {
                                                // secilen rolün silinmesi icin bir request gönderir.
                                                $.ajax({
                                                    url: url,
                                                    type: 'DELETE',
                                                    success: function (result) {
                                                        $('#' + roleId).remove();
                                                        swal(roleName + " " + "{{ _("adlı rol başarıyla kaldırıldı!") }}", {
                                                            icon: "success",
                                                            buttons: {
                                                                confirm: {
                                                                    text: "{{ _("Tamam") }}",
                                                                    value: null,
                                                                    visible: !0,
                                                                    className: "btn btn-default",
                                                                    closeModal: !0
                                                                }
                                                            }
                                                        });

                                                    },
                                                    error: function (jqXHR, textStatus, errorThrown) {
                                                        console.log("adsasd", jqXHR);
                                                        switch (jqXHR.status) {
                                                            case 400:
                                                                swal(roleName + " " + "{{ _("adlı rol silinmeye çalışırken bir hata oluştu!") }}", {
                                                                    icon: "warning",
                                                                    buttons: {
                                                                        confirm: {
                                                                            text: "{{ _("Tamam") }}",
                                                                            value: null,
                                                                            visible: !0,
                                                                            className: "btn btn-warning",
                                                                            closeModal: !0,
                                                                            timer: 3000,
                                                                        }
                                                                    }
                                                                });
                                                                break;
                                                            case 409:
                                                                // todo rol modeli permission, user gibi modellerle bağlı olduğu için kaldırılamıyor. Burada dönen result rolü kaldırmak için kaldırılması gereken modelleri de içerecek
                                                                swal(roleName + " " + "{{ _("adlı rol hala kullanımda olduğundan silinemedi!") }}", {
                                                                    icon: "warning",
                                                                    buttons: {
                                                                        confirm: {
                                                                            text: "{{ _("Tamam") }}",
                                                                            value: null,
                                                                            visible: !0,
                                                                            className: "btn btn-warning",
                                                                            closeModal: !0,
                                                                            timer: 3000,
                                                                        }
                                                                    }
                                                                });
                                                                break;
                                                        }
                                                    }
                                                });
                                            }
                                            else {
                                                swal("{{ _("Seçilen rolü silmketen vazgectiniz!") }}",{
                                                    icon: "warning",
                                                    timer: 4000,
                                                    button: false

                                                });
                                            }
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}