{% extends "index.html" %}
{% from 'macros/content_element.html' import anasayfa_navbar %}

{% block extra_css %}
    {% block extra_alt_css %}
        <link href="{{ url_for('static', filename = 'assets/zopsedu/css/zopsedu-anasayfa.css') }}?version={{ get_app_version() }}"
              rel="stylesheet"/>
    {% endblock %}
{% endblock %}
{% block extra_scripts %}
    {% block extra_alt_scripts %}
    {% endblock %}
{% endblock %}

{% block body %}
    <body class="vertical-layout horizontal-menu horizontal-menu-padding 2-columns menu-expanded card"
          data-open="click"
          data-menu="horizontal-menu" data-col="2-columns">

    {{ anasayfa_navbar() }}
    <div class="app-content content mt-2">
            <div class="content-wrapper" >
                {% block context %}
                {% endblock %}
            </div>
    </div>


    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span
                    class="float-md-left d-block d-md-inline-block">&copy<a
                    class="text-bold-800 grey darken-2"
                    href="http://www.zopsedu.com/" target="_blank">  Zetaops  </a> Tüm hakları saklıdır. </span>
        </p>
    </footer>


{% endblock %}