{% extends "base.html" %}
{% from "macros/utils/flask_messages/flask_messages.html" import big_flash_message %}
{% from 'macros/form_helpers/file_upload_fields.html' import custom_file_upload %}
{% from 'macros/form_helpers/_formhelpers.html' import render_alert_list %}

{% block context %}

    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block"> {{ _("Teknik Şartname Düzenle") }} </h3>
        </div>
        <div class="content-header-right col-md-4 col-12">
            <div class="btn-group float-md-right">
                <a href="{{ url_for('proje.satinalma_talepleri', proje_id=proje_id) }}">
                    <button class="btn btn-success">
                        {{ _("Satınalma Talepleri") }}
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="content-body">
        <section class="card">
            <div class="card-content">
                <div class="card-body">
                    {{ render_alert_list(teknik_sartname_duzenle_form.uyari_mesajlari) }}
                    <form id="satinalma-form" method="POST" enctype="multipart/form-data" action="{{ url_for('proje.ProjeSatinalmaTalepleriView:satinalma_teknik_sartname_post',
                                              proje_id=proje_id,
                                              satinalma_id=satinalma_id) }}">
                        {{ teknik_sartname_duzenle_form.csrf_token }}
                        <div class="row">
                            <div class="col-md-12">
                                <table id="data-table"
                                       class="table table-striped table-bordered dataex-visibility-selector dataTable"
                                       role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th>{{ _("#") }}</th>
                                        <th>{{ _("Proje Kalemi") }}</th>
                                        <th>{{ _("Talep Edilen Miktar") }}</th>
                                        <th>{{ _("Eski Teknik Şartname") }}</th>
                                        <th class="all">{{ _("Yeni Teknik Şartname Yükle") }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for talep_kalemi in teknik_sartname_duzenle_form.talep_kalemleri %}
                                        <tr class="gradeA odd" role="row">
                                            <td> {{ loop.index }} </td>
                                            <td>
                                                {{ talep_kalemi.talep_kalemi_id }}
                                                {{ talep_kalemi.proje_kalemi_adi }}
                                                {{ talep_kalemi.proje_kalemi_adi.data }}
                                            </td>
                                            <td>
                                                {{ talep_kalemi.talep_edilen_miktar.data }} {{ talep_kalemi.birim.data }}
                                                {{ talep_kalemi.talep_edilen_miktar }} {{ talep_kalemi.birim }}
                                            </td>
                                            <td>
                                                {{ talep_kalemi.eski_teknik_sartname_id }}
                                                <a href="{{ url_for("FileView:file_download", file_id=talep_kalemi.eski_teknik_sartname_id.data) }}">{{ _("İndir") }}
                                                </a>
                                            </td>
                                            <td> {{ custom_file_upload(talep_kalemi.yeni_teknik_sartname) }} </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center col-md-12">
                            <button class="btn btn-success">{{ _("Teknik Şartnameleri Kaydet") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        {% from 'macros/utils/dataTables/table_manage.html' import table_manage_buttons_init_without_search %}
        {{ table_manage_buttons_init_without_search() }}
        <!-- ================== END PAGE LEVEL JS ================== -->
    </div>
{% endblock %}

