{% extends "base.html" %}
{% from 'macros/form_helpers/currency_fields.html' import render_currency_field_with_tooltip %}
{% from 'macros/form_helpers/text_fields.html' import render_text_field_with_tooltip %}
{% from 'macros/dynamic_field_list.html' import dynamic_field_list %}
{% from "macros/utils/flask_messages/flask_messages.html" import big_flash_message %}

{% block context %}
    <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block"> {{ _("Bütçe Kodları") }}</h3>
        </div>
    </div>
    {{ big_flash_message() }}
    <div class="content-body">
        <section id="page-tabs" class="card">
            <div class="card-content">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active show" id="active-tab" data-toggle="tab" href="#nav-tab-genel"
                               aria-controls="active"
                               aria-expanded="true">{{ _("Kurum Kodları") }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="link-tab" data-toggle="tab"
                               href="#nav-tab-hesap-kodlari"
                               aria-controls="link"
                               aria-expanded="false">{{ _("Detaylı Hesap Kodları") }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="linkOpt-tab" data-toggle="tab" href="#nav-tab-fonksiyonel-kodlar"
                               aria-controls="linkOpt">{{ _("Fonksiyonel Kodlar") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="page-tab-content" class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active show" id="nav-tab-genel"
                             aria-labelledby="base-nav-tab-genel">
                            <form class="form" method="POST" enctype="multipart/form-data"
                                  action="{{ url_for("butce.ButceKodlariView:kurum_kodlari_kaydet") }}">
                                <div class="form-body">
                                    {{ butce_kodlari_formu.csrf_token() }}
                                    {{ render_kurum_kodlari(butce_kodlari_formu) }}
                                    {{ render_kurum_banka_bilgileri(butce_kodlari_formu.kurum_banka_bilgisi) }}
                                    {{ render_kdv_kodlari(butce_kodlari_formu.kdv_kodlari) }}
                                </div>
                                <div class="form-actions">
                                    <div class="text-center col-md-12">
                                        <button class="btn btn-success">{{ _("Kaydet") }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="nav-tab-fonksiyonel-kodlar"
                             aria-labelledby="base-nav-tab-fonksiyonel-kodlar">
                            <form class="form" method="POST" enctype="multipart/form-data"
                                  action="{{ url_for("butce.ButceKodlariView:fonksiyonel_kodlari_kaydet") }}">
                                <div class="form-body">
                                    <h4 class="form-section">{{ _('Fonksiyonel Kodlar') }}</h4>
                                    {{ fonksiyonel_kodlar.csrf_token() }}
                                    {{ render_fonksiyonel_kodlar(fonksiyonel_kodlar.fonksiyonel_kodlar) }}
                                </div>
                                <div class="form-actions">
                                    <div class="text-center col-md-12">
                                        <button class="btn btn-success">{{ _("Kaydet") }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="nav-tab-hesap-kodlari" aria-labelledby="base-nav-tab-hesap-kodlari">
                            {{ render_hesap_kodlari(butce_kodlari_formu, hesap_kodu_search_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end #content -->
{% endblock %}

{% macro render_kurum_kodlari(kurum_form) %}
    <h4 class="form-section">{{ _('Genel') }}</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(kurum_form.kurum_adi, title=_("Kurumunuzun Adını Giriniz")) }}
                </div>
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(kurum_form.kurum_kodu, title=_("Kurum Kodunu Giriniz")) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(kurum_form.birim_adi, title=_("Birim Adını Giriniz")) }}
                </div>
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(kurum_form.birim_kodu, title=_("Birim Kodunu Giriniz")) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(kurum_form.muhasebe_birimi_adi, title=_("Muhasebe Birimi Adını Giriniz")) }}
                </div>
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(kurum_form.muhasebe_birimi_kodu, title=_("Muhasebe Birimi Kodunu Giriniz")) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_kurum_banka_bilgileri(banka_bilgileri_formu) %}
    <h4 class="form-section">{{ _("Kurum Banka Bilgileri") }}</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(banka_bilgileri_formu.hesap_adi, title=_("Banka Hesap Adını Giriniz")) }}
                </div>
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(banka_bilgileri_formu.iban,
                                                          title=_("IBAN Numarası Giriniz"),
                                                          class="iban-mask form-control",
                                                          style="text-transform: uppercase;") }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(banka_bilgileri_formu.banka_adi, title=_("Banka Adını Giriniz")) }}
                </div>
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(banka_bilgileri_formu.banka_subesi, title=_("Banka Şubesi Giriniz")) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(banka_bilgileri_formu.vergi_no, title=_("Kurum Vergi Numarası Giriniz")) }}
                </div>
                <div class="col-md-6">
                    {{ render_text_field_with_tooltip(banka_bilgileri_formu.vergi_dairesi_id, title=_("Kurum Vergi Dairesini Seçiniz")) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.iban-mask').mask('SS0000000000000000000000',
                {"clearIfNotMatch": true}
            );
        });
    </script>
{% endmacro %}

{% macro render_kdv_kodlari(kdv_kodlari_form) %}
    <h4 class="form-section">{{ _("KDV Tevfikat Kodları") }}</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-4">
                    {{ render_text_field_with_tooltip(kdv_kodlari_form.kdv_tevkifat_kodu, title=_("KDV Tevfikat Kodu")) }}
                </div>
                <div class="col-md-4">
                    {{ render_text_field_with_tooltip(kdv_kodlari_form.kdv_tevkifat_adi, title=_("KDV Tevfikat Açıklama")) }}
                </div>
                <div class="col-md-4">
                    {{ render_text_field_with_tooltip(kdv_kodlari_form.kdv_tevkifat_orani, title=_("KDV Tevfikat Oranı"), class="form-control percent") }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro render_hesap_kodlari(hesap_form, search_form) %}
    <section id="hesap-kodu-arama" class="card">
        <div class="card-content">
            <div class="card-body">
                <form class="form" id="detayli-arama-form">
                    <div class="form-body">
                        <h4 class="form-section"> {{ _("Detaylı Hesap Planı") }}</h4>
                        {{ search_form.csrf_token }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ render_text_field_with_tooltip(search_form.kod, title=_("Hesap kodu filtrelemek için değer giriniz")) }}
                            </div>
                            <div class="col-md-6">
                                {{ render_text_field_with_tooltip(search_form.aciklama, title=_("Hesap kodu açıklaması filtrelemek için değer giriniz")) }}
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="ara" class="btn btn-search btn-success">
                                {{ _("Ara") }}
                            </button>
                            <button id="temizle" class="btn btn-clear btn-warning">
                                {{ _("Temizle") }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="hesap-kodu-table" class="card">
        <div class="card-content">
            <div class="card-body">
                    <table id="data-table-hesap-kodlari"
                           class="table table-striped table-bordered dataex-html5-selectors dataTable"
                           role="grid"
                           aria-describedby="data-table_info" style="width: 100%">
                        <thead>
                        <tr role="row">
                            <th>
                                {{ _('Hesap Kodu') }}
                            </th>
                            <th>
                                {{ _('Açıklaması') }}
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
        </div>
        <script>
            $(document).ready(function () {
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    $($.fn.dataTable.tables(true)).DataTable()
                        .columns.adjust();
                });
            });
        </script>
    </section>

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    {% from 'macros/utils/dataTables/custom_serverside.html' import custom_serverside_table %}
    {{ custom_serverside_table(endpoint=url_for('butce.ButceKodlariView:detayli_hesap_kodlari_search'), id="data-table-hesap-kodlari",
                               ara_button_id="#ara",temizle_button_id="#temizle",search_form_id='#detayli-arama-form') }}
    <!-- ================== END PAGE LEVEL JS ================== -->
{% endmacro %}

{% macro render_fonksiyonel_kodlar(fonksiyonel_kodlar_form) %}
    {% set tooltip_titles = [
                        _("Fonksiyonel Kod Giriniz"),
                        _("Fonksiyonel Kod İçin Açıklama Giriniz"),
    ] %}
    {% set headers = [  (fonksiyonel_kodlar_form[0].kod.label.text,100),
                        (fonksiyonel_kodlar_form[0].aciklama.label.text,100),
                        ] %}

    {% set initial_data = [] %}
    {% set contents = [] %}
    {% for fonksiyonel_kod in fonksiyonel_kodlar_form %}
        {% set data = [
                       fonksiyonel_kod.kod,
                       fonksiyonel_kod.aciklama] %}
        {% do initial_data.append(data) %}
        {% if loop.index == loop.length %}
            {% do contents.extend( [
                                fonksiyonel_kodlar_form[loop.index - 1].kod,
                                fonksiyonel_kodlar_form[loop.index - 1].aciklama]) %}
        {% endif %}
    {% endfor %}

    {{ dynamic_field_list(headers,
                          contents,
                          initial_data,
                          button_name = _("Fonksiyonel Kod Ekle"),
                          tooltip_titles = tooltip_titles) }}
{% endmacro %}
