{% extends "base.html" %}

{% block context %}
    <!-- begin #content -->
    <div id="content" class="content ">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-body">
                <div class="row">
                    <div class="panel panel-primary border border-secondary mt-3"
                         style="border-radius: 10px; width: 100%;">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 d-flex justify-content-center">
                                <h4 class="text-center">Henüz veri girilmedi.</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end #content -->
{% endblock %}