{% extends "dashboard_base.html" %}
{% from 'ozgecmis_sayfalari/akademisyen_ozgecmis_sayfasi_genel.html' import ozgecmis_sayfasi_genel %}

{% macro render_mesleki_deneyim(ozgecmis_bilgileri) %}
    <section id="kisisel-bilgiler-content" class="card">
        <div class="card-content collapse show">
            <div class="card-body card-dashboard">
                {{ render_projeler(ozgecmis_bilgileri.projeler) }}
            </div>
        </div>
    </section>
    <section id="kisisel-bilgiler-content" class="card">
        <div class="card-content collapse show">
            <div class="card-body card-dashboard">
                {{ render_patentler(ozgecmis_bilgileri.patentler) }}
            </div>
        </div>
    </section>
{% endmacro %}

{% macro render_projeler(projeler) %}
    {% if projeler %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Desteklenen Projeleri</th>
            </tr>
            </thead>
            <tbody>
            {% for proje in projeler %}
                <tr>
                    <td> {{ proje }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro render_patentler(patentler) %}
    {% if patentler %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Patentler</th>
            </tr>
            </thead>
            <tbody>
            {% for patent in patentler %}
                <tr>
                    <td> {{ patent }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}


{% block context %}
    {{ ozgecmis_sayfasi_genel(_("Proje & Patent"),
           render_mesleki_deneyim(ozgecmis_bilgileri),
           ozgecmis_bilgileri.personel_ad_soyad,
           ozgecmis_bilgileri.avatar,
           ozgecmis_bilgileri.birim,
           email_prefix, 5) }}
{% endblock %}
