{% from 'macros/durum_degisim.html' import satinalma_bilgileri,genel_islemler,email_checker %}
{% from 'macros/form_helpers/error_fields.html' import error %}



<form id="satinalma_durum_degistir">
    <div>
        {{ satinalma_bilgileri(
        form,proje_numarasi,proje_adi,app_state_description) }}
    </div>
    <div class="card border-left-danger border-left-2">
        {{ form.csrf_token }}
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" id="active-tab" data-toggle="tab" href="#islemler"
                           aria-controls="active" aria-expanded="true">{{ _('İşlemler') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link-tab" data-toggle="tab" href="#bildirimler" aria-controls="link"
                           aria-expanded="false">{{ _('Bildirimler') }}</a>
                    </li>
                </ul>
                <div class="tab-content px-1 pt-1">
                    <div role="tabpanel" class="tab-pane show active" id="islemler" aria-labelledby="active-tab"
                         aria-expanded="true">
                        <div class="row">
                            <div class="col-md-6">
                                {{ error(form.baslangic_tarihi) }}
                                {{ form.baslangic_tarihi.label }}
                                {{ form.baslangic_tarihi }}
                            </div>
                            <div class="col-md-6">
                                {{ error(form.bitis_tarihi) }}
                                {{ form.bitis_tarihi.label }}
                                {{ form.bitis_tarihi }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                {{ error(form.duyuru_icerigi) }}
                                {{ form.duyuru_icerigi.label }}
                                {{ form.duyuru_icerigi }}
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="bildirimler" role="tabpanel" aria-labelledby="link-tab"
                         aria-expanded="false">
                        <div class="row">
                            <div class="col-md-12">
                                {{ error(form.bap_admin_log) }}
                                {{ form.bap_admin_log.label }}
                                {{ form.bap_admin_log }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ error(form.yurutucu_log) }}
                                {{ form.yurutucu_log.label }}
                                {{ form.yurutucu_log }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ email_checker(form) }}
</form>